body {
  background-color: grey;
}

.container {
  width: 300px;
  height: 610px;
  background-color: wheat;
  border: outset 4px grey;
}

.isi {
  margin: 10px;
}

.output-bo× {
  width: 200px;
  height: 30px;
  border: 3px solid #000;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5rem;
  box-shadow: 0 0 25px white;
}

.button {
  background-color: grey;
  color: white;
  border: inset 3px black;
  font-size: 10pt;
  margin: 4px;
  padding: 5px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  display: block;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: black;
  box-shadow: 0 0 25px rgb(45, 202, 45);
  border: 3px solid rgb(45, 202, 45);
}

.buttonclear {
  background-color: red;
  color: white;
  border: inset 3px black;
  font-size: 10pt;
  margin: 4px;
  padding: 5px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  border-radius: 0.5rem;
}

.buttonclear:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgb(45, 202, 45);
  border: 3px solid rgb(45, 202, 45);
}

.nav-operator {
  position: relative;
  display: inline-block;
}

.drop-down {
  position: absolute;
  left: 0;
  top: 100%;
  background: antiquewhite;
  color: black;
  box-shadow: 0 4px 12px black;
  border-radius: 0.5rem;
  font-size: 12px;
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  z-index: 1;
  max-height: 100px; /* Menambahkan batasan tinggi dropdown */
  overflow-y: auto; /* Menambahkan scroll jika item melebihi max-height */
}

.nav-operator:hover .drop-down {
  display: block;
  box-shadow: 0 0 10px white;
}

.drop-down li {
  padding: 5px;
  text-align: center;
}

.drop-down li button {
  background: none;
  border: none;
  color: inherit;
  padding: 5px;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px white;
}

.drop-down li button:hover {
  background-color: black;
  color: white;
  transform: scale(1.02);
  box-shadow: 0 0 25px rgb(45, 202, 45);
  border: 3px solid rgb(45, 202, 45);
  font-weight: bold;
  border-radius: 0.5rem;
}
.judul {
  font-weight: bold;
  font-size: 12pt;
  font-family: sans-serif;
  text-shadow: 3px 4px 2px whitesmoke;
}
.isi b {
  font-weight: bold;
  font-size: 12pt;
  font-family: sans-serif;
}
.result {
  font-weight: bold;
  font-size: 12pt;
  font-family: sans-serif;
}

.footer {
  padding-top: 220px;
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
  text-shadow: 3px 4px 2px whitesmoke;
}

input {
  width: 80%;
  font-size: 16px;
  padding: 3px;
  border: solid 1px #ccc;
  box-sizing: border-box;
}